# Î∂ÄÏä§Ìä∏ÏΩîÏä§ ÏΩîÏπ≠Ïä§ÌÑ∞Îîî 8Í∏∞ DataScience
## 1Ï£ºÏ∞® ÎØ∏ÏÖò

### üìåQ1. Ïó¨Îü¨Î∂ÑÏùÄ ÌååÏù¥Ïç¨ÏùÑ ÌÜµÌï¥ ÏÑ§Î¨∏Ï°∞ÏÇ¨ Î¨∏Ìï≠Ïùò ÏùëÎãµÎÇ¥Ïó≠ÏùÑ Î∂ÑÏÑùÌïòÍ≤å ÎêòÏóàÏäµÎãàÎã§. Î¨∏Ìï≠Î≥Ñ ÏùëÎãµÎÇ¥Ïö©ÏóêÎäî ÌïòÎÇòÏùò ÏùëÎãµÎßå Ìï† Ïàò ÏûàÎäî single choice Î¨∏Ï†úÏôÄ Ïó¨Îü¨ ÏùëÎãµÏùÑ ÏÑ†ÌÉùÌï† Ïàò ÏûàÎäî multiple choice Î¨∏Ï†úÍ∞Ä ÏûàÏäµÎãàÎã§. 2Í∞úÎ•º Íµ¨Î∂ÑÌïòÍ∏∞ ÏúÑÌï¥ single choice Î¨∏Ìï≠ Î≤àÌò∏Ïóê "_"Î•º ÌëúÍ∏∞ÌïòÏßÄ ÏïäÍ∏∞Î°ú ÌñàÏäµÎãàÎã§.

Î¨∏Ìï≠Î≥Ñ ÏùëÎãµÎÇ¥Ïó≠Ïù¥ 'question'Ïóê Îã¥Í≤® ÏûàÏùÑ Îïå, Ï°∞Í±¥Î¨∏Í≥º Î∞òÎ≥µÎ¨∏ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÏïÑÎûòÏôÄ Í∞ôÏùÄ Í≤∞Í≥ºÍ∞Ä Ï∂úÎ†•ÎêòÎèÑÎ°ù ÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Î≥¥ÏÑ∏Ïöî.

Ï∂úÎ†• ÏòàÏãú ```['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']```

In [1]:
# ÏùëÎãµ ÏÑ§Î¨∏ Î¨∏Ìï≠
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

In [5]:
single_choice = []
for i in question:
    if '_' in i:
        continue
    else:
        single_choice.append(i)
        
print(single_choice)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

### üìåQ2. ÌïúÏä§ Î°úÏä¨ÎßÅ(Hans Rosling, 1948ÎÖÑ 7Ïõî 27Ïùº ~ 2017ÎÖÑ 2Ïõî 7Ïùº)ÏùÄ Ïä§Ïõ®Îç¥Ïùò ÏùòÏÇ¨Ïù¥Ïûê ÌÜµÍ≥ÑÌïôÏûêÎ°ú ÎπÑÏòÅÎ¶¨ Î≤§Ï≤ò Í∞≠ÎßàÏù∏Îçî Ïû¨Îã®Ïùò Í≥µÎèôÏÑ§Î¶ΩÏûêÏù¥Í∏∞ÎèÑ Ìï©ÎãàÎã§. ÎπÖÎç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏû• Ïûò ÌôúÏö©ÌïòÎäî Î≥¥Í±¥ ÌÜµÍ≥ÑÌïôÏûêÎ°ú ÏïåÎ†§Ï†∏ ÏûàÏäµÎãàÎã§. Î≤†Ïä§Ìä∏ÏÖÄÎü¨ Ï±ÖÏù∏ "Ìå©Ìä∏ÌíÄÎãàÏä§" Ï†ÄÏûêÏù¥Í∏∞ÎèÑ Ìï©ÎãàÎã§. Í∞≠ÎßàÏù∏Îçî ÏÇ¨Ïù¥Ìä∏ÏóêÏÑúÎäî Ïó∞ÎèÑÎ≥Ñ, Íµ≠Í∞ÄÎ≥Ñ GDPÏôÄ Í∏∞ÎåÄÏàòÎ™Ö Îç∞Ïù¥ÌÑ∞Î•º Ï†úÍ≥µÌïòÍ≥† ÏûàÎäîÎç∞, ÎåÄÌëúÏ†ÅÏúºÎ°ú ÌååÏù¥Ïç¨ ÎùºÏù¥Î∏åÎü¨Î¶¨ Ï§ë 'seaborn'ÏóêÏÑú Ï†úÍ≥µÎêòÎäî ÏòàÏ†ú Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÏäµÎãàÎã§. Ïò§ÎäòÏùÄ Ïù¥ Îç∞Ïù¥ÌÑ∞Î•º ÌôúÏö©Ìï¥ Î¨∏Ï†úÎ•º ÌíÄÏñ¥Î≥¥Í≤†ÏäµÎãàÎã§.
Îã§ÏùåÏùò Îç∞Ïù¥ÌÑ∞Îäî Ïó∞ÎèÑ, Íµ≠Í∞ÄÎ≥Ñ Í∏∞ÎåÄÏàòÎ™ÖÏùÑ ÎÇòÌÉÄÎÇ¥Í≥† ÏûàÎäî Îç∞Ïù¥ÌÑ∞ ÏûÖÎãàÎã§. 2011ÎÖÑ Î∂ÄÌÑ∞Ïùò Ïó∞ÎèÑÎ≥Ñ, Íµ≠Í∞ÄÎ≥Ñ ÌèâÍ∑† Í∏∞ÎåÄÏàòÎ™ÖÏùÑ Íµ¨Ìï¥Ï£ºÏÑ∏Ïöî. (2011ÎÖÑÎèÑ Ìè¨Ìï®ÎêòÍ≤å Íµ¨Ìï©ÎãàÎã§.)

- [ÌïÑÏàò Ï°∞Í±¥] groupby ÎÇò pivot_tableÏùÑ ÌôúÏö©Ìï©ÎãàÎã§. groupby Î°ú Íµ¨Ìï† Îïå unstack()Ïù¥ÎùºÎäî Í∏∞Îä•ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÏïÑÎûòÏôÄ Í∞ôÏù¥ Ïª¨ÎüºÏóê Ïù∏Îç±Ïä§ Í∞íÏùÑ Ïò¨Î†§ÏÑú ÌëúÍ∏∞Ìï† Ïàò ÏûàÏäµÎãàÎã§.
- ÎßåÏïΩ ÌñâÏóêÎäî 'Ïó∞ÎèÑ'Í∞Ä, Ïó¥Ïóê 'Íµ≠Í∞Ä'Í∞Ä Îì§Ïñ¥ÏûàÍ≥† ÏàòÏπò Îç∞Ïù¥ÌÑ∞Ïùò Í≤∞Í≥ºÍ∞íÏù¥ ÏïÑÎûòÏôÄ Í∞ôÎã§Î©¥, Ï∂úÎ†•ÌòïÌÉúÎäî Ï°∞Í∏à Îã¨ÎùºÎèÑ Í¥úÏ∞ÆÏäµÎãàÎã§.
- Îç∞Ïù¥ÌÑ∞Îäî Îã§ÏùåÏùò Î∞©Î≤ïÏúºÎ°ú ÏùΩÏñ¥ÏòµÎãàÎã§.


Ïûò Î™®Î•¥Í≤†Îã§Î©¥, Îã§ÏùåÏùò ÌåêÎã§Ïä§ Î¨∏ÏÑúÎ•º Ï∞∏Í≥†Ìï¥ÏÑú ÌíÄÏñ¥Î≥¥ÏÑ∏Ïöî! => https://pandas.pydata.org/docs/getting_started/intro_tutorials/07_reshape_table_layout.html

In [6]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [28]:
df2=df.groupby(['Year','Country'])['Life_Expectancy'].mean().unstack()
df2

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
1970        NaN    72.2     70.6           71.9   72.0  70.9
1971       72.8     NaN     70.8           71.9   72.9  71.2
1972        NaN     NaN     71.0            NaN   73.2  71.2
1973        NaN     NaN     71.3            NaN   73.4  71.4
1974        NaN     NaN     71.5            NaN   73.7  72.0
1975        NaN    73.0     71.4            NaN   74.3  72.7
1976       73.8     NaN     71.8            NaN   74.8  72.9
1977        NaN     NaN     72.5            NaN   75.3  73.3
1978        NaN     NaN     72.4            NaN   75.7  73.5
1979       75.1     NaN     72.8            NaN   76.2  73.9
1980       75.2    74.3     72.9           73.2   76.1  73.7
1981       75.5     NaN     73.2           73.8   76.5  74.1
1982       75.6     NaN     73.5           74.1   76.9  74.5
1983       75.9     NaN     73.8           74.3   77.0  74.6
1984       76.2     NaN     74.3           74.5   77.4  74.7
1985       76.3    75.4     75.0           74.7   77.6  74.7
1986       76.5     NaN     75.2           74.8   78.1  74.7
1987       76.7     NaN     75.6           75.2   78.5  74.9
1988       76.8     NaN     75.9           75.3   78.4  74.9
1989       77.1     NaN     76.0           75.4   78.8  75.1
1990       77.3    77.0     77.3           75.7   78.9  75.3
1991       77.6    77.2      NaN           75.9   79.1  75.5
1992       77.8    77.5     76.1           76.3   79.2  75.7
1993       77.8    77.5     76.1           76.2   79.4  75.5
1994       77.9    78.0     76.5           76.8   79.8  75.7
1995       78.0    78.1     76.6           76.7   79.6  75.7
1996       78.2    78.2     76.9           76.9   80.3  76.1
1997       78.3    78.6     77.3           77.2   80.5  76.5
1998       78.6    78.8     77.7           77.3   80.6  76.7
1999       78.8    78.9     77.9           77.5   80.5  76.7
2000       79.1    79.2     78.2           77.9   81.2  76.7
2001       79.3    79.3     78.5           78.2   81.5  76.9
2002       79.5    79.4     78.5           78.3   81.8  77.0
2003       79.6    79.3     78.6           78.4   81.8  77.1
2004       79.9    80.3     79.2           79.0   82.1  77.6
2005       80.0    80.4     79.4           79.2   82.0  77.6
2006       80.4    81.0     79.8           79.5   82.4  77.8
2007       80.5    81.2     80.1           79.7   82.6  78.1
2008       80.7    81.4     80.2           79.8   82.7  78.1
2009       80.9    81.5     80.3           80.4   83.0  78.5
2010       81.2    81.8     80.5           80.6   82.9  78.6
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

In [34]:
df2.loc[2011:2020]

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

### üìåQ3. Jupyter notebook ÏùÄ Î¨∏ÏÑúÏôÄ ÏΩîÎìúÎ•º Ìï®Íªò ÏûëÏÑ±Ìï† Ïàò ÏûàÎã§Îäî Ï†êÏù¥ Ïû•Ï†êÏûÖÎãàÎã§.  Jupyter notebook ÏóêÏÑú ÏßÄÏõêÌïòÎäî Markdown Î¨∏Î≤ïÏùÑ ÏÇ¨Ïö©ÌïòÏó¨, Ïù¥Î≤à Ï£ºÏóê Î∞∞Ïö¥ ÎÇ¥Ïö©ÏùÑ Ï†ïÎ¶¨Ìï¥ Î≥¥ÏÑ∏Ïöî!

Ïù¥Î≤àÏ£º ÌïôÏäµ ÎÇ¥Ïö©ÏùÄ Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Í≥†Ìï¥Ï£ºÏÑ∏Ïöî! [1Ï£ºÏ∞® ÌïôÏäµ ÎÇ¥Ïö©](Ïä§ÌÑ∞Îîî Ï†ÑÏö© Í∞ïÏ¢å 1Ï£ºÏ∞® ÌïôÏäµ ÏïàÎÇ¥ ÎßÅÌÅ¨)

#### Ï£ºÌîºÌÑ∞ ÎÖ∏Ìä∏Î∂Å ÏÇ¨Ïö©Î≤ï
* Enter: Ìé∏Ïßë ÏÉÅÌÉúÎ°ú Î≥ÄÌôò
* Shift + Enter: ÏÖÄÏù¥ Ïã§ÌñâÎêòÍ≥† Ïª§ÏÑúÍ∞Ä Îã§Ïùå ÏÖÄÎ°ú Ïù¥Ïö©
* Ctrl + Enter: ÏÖÄÏù¥ Ïã§ÌñâÎêòÍ≥† Ïª§ÏÑúÍ∞Ä Í∑∏ ÏÖÄÏóê Ïú†ÏßÄ
* a: ÏúÑÏóê ÏÖÄ Ï∂îÍ∞Ä
* b: ÏïÑÎûòÏóê ÏÖÄÏù¥ Ï∂îÍ∞Ä
* dd: ÏÖÄÏù¥ ÏÇ≠Ï†ú
* m: ÎßàÌÅ¨Îã§Ïö¥ ÏÖÄÎ°ú Î≥ÄÍ≤Ω
* y: ÏΩîÎìú ÏÖÄÎ°ú Î≥ÄÍ≤Ω
* h: Ï£ºÌîºÌÑ∞ ÎÖ∏Ìä∏Î∂Å Îã®Ï∂ïÌÇ§ ÌôïÏù∏

#### ÎßàÌÅ¨Îã§Ïö¥ Ïù¥ÎûÄ?
* ÏΩîÎìúÏôÄ Ìï®Íªò Î¨∏ÏÑúÌôîÎ•º ÌïòÏã§ Ïàò ÏûàÏäµÎãàÎã§.
* Î¨∏ÏÑúÌôîÎ•º Ìï† Ïàò ÏûàÎäî `Î¨∏Î≤ï`
```
Ïó¨Îü¨ Ï§ÑÏùò ÏÑ§Î™ÖÏùÑ
Ï§ÑÎ∞îÍøàÏúºÎ°ú Ïì∞Í≥†Ïûê Ìï† Îïå
```

#### Î©îÎâ¥ÌÉ≠ ÌôúÏö©
* View -> Toggle Line Numbers: ÏÖÄ ÏïàÏùò ÎùºÏù∏ ÎÑòÎ≤Ñ ÌôïÏù∏
* Kernel -> Restart & Clear Output: Ïª§ÎÑê Í≤∞Í≥º Ï¥àÍ∏∞Ìôî
* Kernel -> Restart & Run All: Ïû¨Ïã§Ìñâ

#### boolean
- TrueÎÇò FalseÎäî 0Í≥º 1Î°úÎèÑ ÌëúÌòÑÌï† Ïàò ÏûàÏúºÎÇò Î™ÖÏãùÏ†ÅÏúºÎ°ú ÌëúÌòÑÌïòÍ∏∞ ÏúÑÌï¥ TrueÏôÄ FalseÎ•º ÏÇ¨Ïö©ÌïúÎã§.

#### drop()
- axis = 0 : Ìñâ Í∏∞Ï§Ä drop(Í∏∞Î≥∏Í∞í)
- axis = 1 : Ïó¥ Í∏∞Ï§Ä drop
- dropÏùÑ Î∞òÏòÅÌïòÍ∏∞ ÏúÑÌï¥ÏÑúÎäî ÏÉàÎ°úÏö¥ Î≥ÄÏàòÏóê Ìï†ÎãπÌï¥Ï£ºÏñ¥Ïïº Ìï®.

#### pivot_table
- aggfunc Í∏∞Î≥∏Í∞í = mean

### üìåQ4. ÏïûÏúºÎ°ú Ïö∞Î¶¨Îäî Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Ìè¨ÌÑ∏ÏóêÏÑú Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïö¥Î°úÎìú Î∞õÏïÑ Í≥ºÏ†ïÏùÑ ÏßÑÌñâÌï† ÏòàÏ†ïÏûÖÎãàÎã§. Î≥∏Í≤©Ï†ÅÏù∏ ÌïôÏäµ Ïù¥Ï†ÑÏóê! Îç∞Ïù¥ÌÑ∞Î•º Îã§Î£®Îäî Î∞©Î≤ïÏù¥ ÏùµÏàôÌï¥ÏßÄÎèÑÎ°ù ÌïúÎ≤à Îçî Ïó∞ÏäµÌï¥Î≥¥Í≥†, Ïñ¥Îñ§ Î¨∏Ï†úÎ•º ÌíÄ Ïàò ÏûàÏùÑÏßÄÎèÑ Ìï®Íªò Í≥†ÎØºÌï¥Î≥¥ÏïÑÏöî!

- Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Ìè¨ÌÑ∏ÏóêÏÑú ÏõêÌïòÎäî Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïö¥Î°úÎìú Î∞õÏïÑ Í≤ΩÎ°úÎ•º ÏÑ§Ï†ïÌïòÍ≥†, Ï£ºÌîºÌÑ∞ ÎÖ∏Ìä∏Î∂ÅÍ≥º ÌåêÎã§Ïä§Î•º ÌÜµÌï¥ Î∂àÎü¨ÏôÄ Î≥¥ÏÑ∏Ïöî! Ïñ¥Îñ§ Îç∞Ïù¥ÌÑ∞Î•º ÏÇ¨Ïö©Ìï¥ÏïºÌï†ÏßÄ Í≥†ÎØºÎêúÎã§Î©¥ Îã§Ïùå ÎßÅÌÅ¨Ïùò Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïö¥Î°úÎìú Î∞õÏïÑÎèÑ Ï¢ãÏäµÎãàÎã§.
- [Ï∞∏Í≥† ÏòàÏãú] Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Ìè¨ÌÑ∏ - ÏÑúÏö∏ÌäπÎ≥ÑÏãú Í∞ïÎÇ®Íµ¨_ÏÉùÌôúÌèêÍ∏∞Î¨ºÎ∞∞Ï∂úÎüâ


- Ïù¥ Îïå, Ïù∏ÏΩîÎî© Ïò§Î•òÍ∞Ä Î∞úÏÉùÌïúÎã§Î©¥ encoding="cp949" ÏòµÏÖòÏùÑ ÏÇ¨Ïö©Ìï¥ Ï£ºÏÑ∏Ïöî! cp949Îäî ÌïúÍ∏Ä ÏúàÎèÑÏö∞ÏóêÏÑú ÏÇ¨Ïö©ÌïòÎäî Ïù∏ÏΩîÎî© Î∞©ÏãùÏù¥ÎûçÎãàÎã§. Ïù∏ÏΩîÎî©Í≥º Í¥ÄÎ†®Îêú ÏûêÏÑ∏Ìïú ÎÇ¥Ïö©ÏùÄ - Îã§ÏùåÏùÑ Ï∞∏Í≥†Ìï¥ Ï£ºÏÑ∏Ïöî.
- Î¨∏Ïûê Ïù∏ÏΩîÎî© - ÏúÑÌÇ§Î∞±Í≥º, Ïö∞Î¶¨ Î™®ÎëêÏùò Î∞±Í≥ºÏÇ¨Ï†Ñ
- ÌååÏùºÏùÑ Ïó¥Í±∞ÎÇò Ï†ÄÏû•Ìï† Îïå ÌÖçÏä§Ìä∏ Ïù∏ÏΩîÎî© ÏÑ†ÌÉù

In [35]:
import pandas as pd
pd.read_csv('Í≤ΩÏ∞∞Ï≤≠_Î≥¥Ïù¥Ïä§ÌîºÏã± ÌòÑÌô©_20201231.csv',encoding='cp949')

,Íµ¨Î∂Ñ,Í∏∞Í¥ÄÏÇ¨Ïπ≠Ìòï_Î∞úÏÉùÍ±¥Ïàò,Í∏∞Í¥ÄÏÇ¨Ïπ≠Ìòï_ÌîºÌï¥Ïï°_ÏñµÏõê,Í∏∞Í¥ÄÏÇ¨Ïπ≠Ìòï_Í≤ÄÍ±∞Í±¥Ïàò,Í∏∞Í¥ÄÏÇ¨Ïπ≠Ìòï_Í≤ÄÍ±∞Ïù∏Ïõê,ÎåÄÏ∂úÏÇ¨Í∏∞Ìòï_Î∞úÏÉùÍ±¥Ïàò,ÎåÄÏ∂úÏÇ¨Í∏∞Ìòï_ÌîºÌï¥Ïï°_ÏñµÏõê,ÎåÄÏ∂úÏÇ¨Í∏∞Ìòï_Í≤ÄÍ±∞Í±¥Ïàò,ÎåÄÏ∂úÏÇ¨Í∏∞Ìòï_Í≤ÄÍ±∞Ïù∏Ïõê
0,2016,3384,541,3860,5682,13656,927,7526,9884
1,2017,5685,967,3776,4925,18574,1503,15842,20548
2,2018,6221,1430,4673,5491,27911,2610,25279,32133
3,2019,7219,2506,5487,6045,30448,3892,33791,42668
4,2020,7844,2144,4297,4797,23837,4856,29754,34527